

body{
  background-image: url(../../public/images/background.jpeg);
  background-size: cover;
  background-color: blue;
  margin: 0;
  padding: 0;
}

/*-------------------------------------------------------------------------header-----------------------------------------*/

.header{
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  background-color: rgba(255, 255, 255, .05);
  height: 15%;
}

.header .icon img {
  width: 100px;
  padding: .25rem;
  margin-left: 2rem;
  height: 100px;
  border-radius: 5rem;
}

.header .nav {
  width: 50%;
  display: flex;
}

.header .nav .title{
  padding-top: 1rem;
  color: white;
  text-shadow: 5px 5px 10px black;
  font-size: 1.5rem;
  font-weight: bold;
  
}

.header .nav ul {
  display: inline-flex;
  list-style: none;
  position: relative;
  left: 5rem;
  top: 3rem;
  justify-content: space-between;
}

.header .nav ul li a{
  text-decoration: none;
  border: none;
  border-top: .1rem solid white;
  border-bottom: .1rem solid white;
  padding: .25rem;
  margin-right: .75rem;
  margin-left: .75rem;
  background: none;
  color: white;
  text-shadow: 5px 5px 10px black;
  font-size: 1rem;
}

.header .searchBar{
  position: relative;
  display: inline-flex;
  height: 40%;
  right: 3rem;
  top: 2rem;
}

.header .searchBar input[type=text] {
  display: none;
  float: left;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
.header .searchBar button {
  position: relative;
  top: .25rem;
  float: right;
  padding: 15px;
  background: none;
  color: white;
  font-size: 17px;
  cursor: pointer; 
  border: none;
  
}

.header .searchBar button i {
  padding: 6rem;


} 

.header #modalBtns{
  position: fixed;
  top: 0.5rem;
  height: 70%;
}

.header #modalBtns{
  right: 3rem;
}

.header #modalBtns button{
  margin: 2rem;
  width: 4rem;
  height: 4rem;
  border-radius: 3rem;
}

/*espacio vacio*/



/*---main---*/
.main{
  background-color: rgba(255, 0, 0, .05);
  height: 32rem;
  margin-top: 7rem;
  padding-bottom: 3.2rem;
  overflow-y: scroll;
}



/*-------------------------contracted footer--------------------------------------------*/

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  background-color: rgb(205, 50, 50);
  height: 3rem;
  border: solid 1px  rgb(150, 10, 10);
}

.footer .paymentBtn{
  width: 50%;
}
.footer:hover .paymentBtn{
  width: 50%;
  background-color: aqua;
}


.footer .paymentBtn p{
  margin-left: 1rem;
  padding: .25rem;
  color: white;
  text-shadow: 5px 5px 10px black;
  font-size: 1.5rem;
  font-weight: bold;

}

.footer .paymentBtn button{
  display: none;
}

.footer .contact{
  width: 50%;
  border: solid black 1px;
}

.footer .contact p{
  margin-left: 1rem;
  padding: .25rem;
  color: white;
  text-shadow: 5px 5px 10px black;
  font-size: 1.5rem;
  font-weight: bold;
 
}

.footer .contact ul{
  display: none;
}

/*---footer---*/
/*
.footer{
  position: fixed;
  bottom: 0;

  width: 100%;
  display: flex;
  background-color: red;

}

.footer .nav {

  width: 25%;

  border: solid black 1px;
}

.footer .nav p{
  margin-left: 1rem;
  padding: .5rem;
  color: white;
  text-shadow: 5px 5px 10px black;
  font-size: 1.5rem;
  font-weight: bold;
  width: 100%;  

  
}

.footer .nav ul {
  width: 100%;  
  list-style: none;
  margin-left: 1rem;
  padding: .5rem;
  color: white;
  text-shadow: 5px 5px 10px black;

}

.footer .nav ul li {
  width: 100%;  
  list-style: none;
}

.footer .nav ul li a{
  text-decoration: none;
  border: none;
  padding: .25rem;
  margin-right: .75rem;
  margin-left: .75rem;
  background: none;
  color: white;
  text-shadow: 5px 5px 10px black;
  font-size: 1rem;
}


.footer .paymentBtn{
  width: 25%;
  border: solid black 1px;
}

.footer .paymentBtn p{
  margin-left: 1rem;
  padding: .5rem;
  color: white;
  text-shadow: 5px 5px 10px black;
  font-size: 1.5rem;
  font-weight: bold;

}

.footer .paymentBtn button{
  margin: 1rem;
  padding: 15px;
  background: none;
  color: white;
  cursor: pointer; 
  border: solid 1px black;
}

.footer .contact{
  width: 50%;
  border: solid black 1px;
}

.footer .contact p{
  margin-left: 1rem;
  padding: .5rem;
  color: white;
  text-shadow: 5px 5px 10px black;
  font-size: 1.5rem;
  font-weight: bold;
 
}

.footer .contact ul{
  list-style: none;

  padding: .5rem;
  color: white;
  text-shadow: 5px 5px 10px black;
}

.footer .contact ul li p{
  color: white;  
  font-size: 1rem;
  padding-top: 0;
  padding-bottom: 0;
}
*/


/*-------------------------------modals-------------------------------------------------*/
.modal {
  display: none;
}

.modal.visible {
  display: block;
}


#cartModal {
  position: fixed; 
  border: 1px black solid;
  z-index: 1; 
  right: 2rem;
  top: 6rem;
  width: 33%; 
  height: 70%;
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
}

#cartModal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#profileModal {
  position: fixed; 
  border: 1px solid rgb(205, 50, 50);
  border-radius: 2rem;
  z-index: 1; 
  right: 2rem;
  top: 7rem;
  width: 33%; 
  height: 70%;
  overflow: auto; 
  background-color: rgba(234, 228, 228, 0.8);
  text-align: center;
}

#profileModal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
