@media only screen and (max-width: 600px) {
    @keyframes example {
        0% {
            color: rgb(255, 255, 255, 0.2);
        }

        60% {
            color: rgb(255, 255, 255, 0.5);
            text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
        }

        70% {
            color: rgb(255, 255, 255, 0.8);
            text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.8);
        }

        80% {
            color: rgb(255, 255, 255, 1);
            text-shadow: 3px 3px 2px rgba(0, 0, 0, 1);
        }

        100% {
            color: rgb(255, 255, 255, 1);
            text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.7);
        }
    }

    .main {
        background-color: rgba(255, 0, 0, .00);

        padding-bottom: 3.2rem;
        overflow-y: hidden;
    }

    .main div {
        position: relative;
    }

    #homeTittle {
        position: absolute;
        top: 4rem;
        text-align: center;
        padding-left: 2rem;
        padding-right: 2rem;
        color: rgb(255, 255, 255, 0.2);
        text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.7);
        font-size: 4rem;
        animation-name: example;
        animation-duration: 6s;
        animation-fill-mode: forwards;
    }

    #homeSubtittle {
        position: absolute;
        top: 15rem;
        left: 6rem;
        text-align: center;
        color: rgb(255, 255, 255, 0.2);
        text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.7);
        font-size: 2.5rem;
        animation-name: example;
        animation-duration: 6s;
        animation-fill-mode: forwards;
    }
}

@keyframes example {
    0% {color: rgb(255, 255, 255, 0.2);
        }
    60% {color: rgb(255, 255, 255, 0.5);
        text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3) ;
    }
    70% {color: rgb(255, 255, 255, 0.8);
        text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.8) ;
    }
    80% {color: rgb(255, 255, 255, 1);
        text-shadow: 3px 3px 2px rgba(0, 0, 0, 1) ;
    }
    100% {color: rgb(255, 255, 255, 1);
        text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.7) ;
    }
}

.main {
    background-color: rgba(255, 0, 0, .00);
    height: 32rem;
    margin-top: 7rem;
    padding-bottom: 3.2rem;
    overflow-y:hidden;
}

.main div{
    position: relative;
}

#homeTittle{
    position: absolute;
    top: 8rem;
    left:4rem;
    color:  rgb(255, 255, 255, 0.2);
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.7);
    font-size: 4rem;
    animation-name: example;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}

#homeSubtittle{
    position: absolute;
    top: 15rem;
    left: 6rem;
    color:  rgb(255, 255, 255, 0.2);
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.7);
    font-size: 2.5rem;
    animation-name: example;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}